.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  width: -webkit-fill-available;
}
.container > h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 2rem;
}
