.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
  padding: 0.5rem 0rem;
  color: var(--primary-color);
}
.chats {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--primary-color);
  gap: 0.5rem;
  overflow-y: scroll;
  height: 100%;
}
